
#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
